* {
    font-family: "Maple Mono NF";
    font-size: 14px;
    border-radius: 0;
    border: none;
    min-height: 0;
}

/* ================================
   WAYBAR
   ================================ */

window#waybar {
    background: transparent;
    color: #d6dedc;
}

/* ================================
   WORKSPACES
   ================================ */

#workspaces {
    background: #171c1d;
    margin-left: 12px;
    padding: 0 4px;

    border: 1px solid #293333;
}

#workspaces button {
    background: transparent;
    color: #647472;

    padding: 0 9px;
    margin: 3px 1px;
}

#workspaces button:hover {
    background: #202728;
    color: #a4b2b0;
}

#workspaces button.active {
    background: #4fa89f;
    color: #101315;
}

#workspaces button.urgent {
    background: #d66f72;
    color: #101315;
}

/* ================================
   CLOCK
   ================================ */

#clock {
    background: #171c1d;
    color: #a4b2b0;

    padding: 0 18px;

    border: 1px solid #293333;
}

/* ================================
   NOTIFICATIONS
   ================================ */

#custom-notifications {
    background: #171c1d;
    color: #a4b2b0;

    padding: 0 14px;
    margin-right: 12px;

    border: 1px solid #293333;
}

#custom-notifications:hover {
    background: #202728;
    color: #4fa89f;
}

/* ================================
   TOOLTIPS
   ================================ */

tooltip {
    background: #171c1d;
    color: #d6dedc;

    border: 1px solid #354141;
}

tooltip label {
    color: #d6dedc;
}
